## Demographics of Sea Otters in the Santa Barbara Channel

![](https://prd-wret.s3-us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/side_image/public/thumbnails/image/Sea_Otter_mom_and_pup_MG_3407.jpg)

Source: https://www.sciencebase.gov/catalog/item/585c5ac9e4b01224f329bc0a

In [1]:
import pandas as pd

In [2]:
raw_sea_otter_df = pd.read_csv('https://www.sciencebase.gov/catalog/file/get/585c5ac9e4b01224f329bc0a?f=__disk__22%2Ffe%2Fd8%2F22fed85e6822cf2a4117cb6b740bb6c2ae648773')
raw_sea_otter_df.head(5)

,Otter Number,Capture Date,General Location,Capture Latitude,Capture Longitude,Sex,Age Class,Weight (kg),Length (cm),Age,Recapture Date 1,Recapture Date 2,Last Seen Date,Outcome,Pup Birth 1,Pup 1 Outcome,Pup Birth 2,Pup 2 Outcome,Pup Birth 3,Pup 3 Outcome
0,N-1460-12-S,5-Mar-12,Hollister Ranch,34?26.971,120?21.847,m,a,23.0,128.1,9.5,NaN,NaN,23-Jun-14,Survived,NaN,NaN,NaN,NaN,NaN,NaN
1,N-1461-12-S,5-Mar-12,Cojo Cove,34?26.626,120?24.173,f,a,23.0,110.5,3.5,NaN,NaN,16-Mar-14,Survived,14-Dec-12,Suspected Dead,10-Nov-13,Survived,NaN,NaN
2,N-1462-12-S,5-Mar-12,Cojo Cove,34?26.575,120?24.757,f,a,23.3,121.4,3.0,NaN,NaN,24-Jun-14,Survived,30-Apr-12,Survived,23-Feb-13,Survived,6-Feb-14,Unknown
3,N-1463-12-S,5-Mar-12,Cojo Cove,34?26.575,120?24.757,f,a,22.7,115.4,4.5,NaN,NaN,20-Jun-14,Survived,16-Jun-13,Survived,12-May-14,Unknown,NaN,NaN
4,N-1464-12-S,5-Mar-12,Cojo Cove,34?26.988,120?21.629,m,a,29.0,124.0,6.0,NaN,NaN,8-Feb-14,Suspected Dead,NaN,NaN,NaN,NaN,NaN,NaN

#### Show general statistics about the dataset

Don't worry about any transformations at this step.

#### How many rows and columns are in this dataset?

#### Display the last 5 rows of data

#### How many sea otters are found in this dataset?

Don't worry about the pups.

#### What is the gender distribution?

#### What is the average age of the sea otters studied?

#### Where are they normally found?

#### Display the heaviest weight and lowest weight

#### Which sea otters are alive?

#### Which sea otters are alive and male

#### How many otters were captured by year?

#### Sort the data by location